article .wrapper {
	overflow: auto;
	position: absolute;
	padding: 0 0 20px;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
}

article header {
	height: 100px;
	//background: #53cdec;
	//background: #384046;
	//color: white;
	background: #fff;
	background: #53cdec;
	color: white;
}
article h1 {
	line-height: 60px;
	.title();
	font-size: 19px;
	text-transform: uppercase;
	padding: 0 20px;
	.ellipsis();
}

article nav {
	float: right;
	padding: 15px 10px;
	a, button {
		background: none;
		color: #fff;
		display: inline-block;
		padding: 5px 10px;
		margin: 0 5px;
		border: 1px solid rgba(255,255,255,.5);
		border-radius: 3px;
		&:hover {
			background: #fff;
			color: #53cdec;
		}
		&[disabled] {
			background: none;
			border: 1px solid rgba(255,255,255,.3);
			color: rgba(255,255,255,.5);
		}
	}
}

article header .subheader {
	background: #46BCD9;
	color: #246C7E;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 9;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	margin: 0;
}

article footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	line-height: 20px;
	background: #F9EEB5;
	color: #6F642E;
	z-index: 1000;
}
article footer > * {
	float: left;
	padding: 0 5px;
	border-right: 1px solid rgba(0,0,0,.1);
}

article .container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

