@(model: controllers.ApplicationModel)(implicit request: RequestHeader)

@name(app: snap.AppConfig) = {
  @app.cachedName.getOrElse(app.id)
}
@className(app: snap.AppConfig) = {@if(app.cachedName.getOrElse(app.id) == model.name) {default} else {}}


<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Typesafe Builder</title>
		<script type="text/javascript">
		window.serverAppModel = {
      name: '@model.name',
      id: '@model.id',
      pluginIds:  [ @Html(model.plugins.mkString("\'", "\','","\'")) ],
      location: '@model.jsLocation',
      wsUrl: '@routes.Application.connectApp(model.id).webSocketURL()'
      @for(id <- model.blueprint) {
        ,blueprint: {
      	  id: '@model.blueprint'
        }
      }
    };
		</script>
		<script data-main="/public/javascripts/main.js" type="text/javascript" src="/public/javascripts/vendors/require.min.js"></script>
		<link rel="stylesheet" media="screen" href="/public/stylesheets/main.css">
		<link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
	</head>
	<body class="noAnim right-open">
		<header>
			<nav>
				<ul class="rockets">
					<li class="app" data-bind="foreach: plugins.list">
						<a data-bind="text: name, attr: { 'data-icon': icon, href: url }"></a>
					</li>
				</ul>
			</nav>
			<div id="switch">
				<span class="label" data-bind="text: snap.appName"></span>
				<div>
					<ul>
					    <li>
                          <a href="@routes.Application.forceHome">New Application</a>
                        </li>
                        @model.recentApps.zipWithIndex.map { case (app, idx) =>
						  <li>
                            <a href="@routes.Application.app(app.id)" class="@className(app)">@name(app)</a>
                            <span class="counter">@(idx+1)</span>
						  </li>
                        }
					</ul>
				</div>
			</div>
			<a href="http://www.typesafe.com" id="typesafe">Typesafe</a>
		</header>
		<aside class="tutorial" data-step="0">
			<header>
				Tutorial
			</header>
			<nav>
				<a class="previous" disabled>←</a>
				<a class="next">→</a>
				<h1 data-bind=""></h1>
				<ul data-bind="foreach: tutorial.pages">
					<li class="step" data-bind="html: link"></li>
				</ul>
			</nav>
			<article data-bind="foreach: tutorial.pages">
				<div data-bind="html: content"></div>
			</article>
		</aside>
		<!-- -->
		<div id="wrapper" data-bind="foreach: { data: widgets }">
		  <div class="widget" data-bind="template: { name: view, data: $data, afterRender: onRender }, visible: id == $parent.snap.activeWidget()"></div>
		</div>
  </body>
</html>
