@(model: controllers.ApplicationModel)(implicit request: RequestHeader)

@import activator.properties.ActivatorProperties
@import play.api.libs.json.Json

@name(app: snap.AppConfig) = {
  @app.cachedName.getOrElse(app.id)
}
@className(app: snap.AppConfig) = {@if(app.cachedName.getOrElse(app.id) == model.name) {default} else {}}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Typesafe Activator</title>
		<script type="text/javascript">
		window.wsUrl = '@routes.Application.connectApp(model.id).webSocketURL()';
		@* The @Html thing prevents the Json from being escaped *@
		window.serverAppModel = @Html(Json.toJson(model).toString())
		window.serverAppVersion = "@ActivatorProperties.APP_VERSION"
		</script>
		<script data-main='@routes.Assets.at("javascripts/application.js")' type='text/javascript' src='@routes.WebJarAssets.requirejs()'></script>
		<link rel="stylesheet" media="screen" href="/public/stylesheets/main.css">
		<link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-40492643-1', {
				'cookieDomain': 'none'
			});
			ga('send', 'pageview');
		</script>
	</head>
	<body class="noAnim right-open">
		<header>
			<nav>
				<ul class="rockets">
					<li class="app" data-bind="foreach: plugins.list">
						<a data-bind="attr: { 'data-icon': icon, href: url }, css: {active: active, busy: statusBusy, error: statusError}">
                            <span class="text" data-bind="text: name"></span>
                            <span class="icon"></span>
						</a>
					</li>
				</ul>
			</nav>
			<div id="switch">
				<span class="label" data-bind="text: snap.appName"></span>
				<div>
					<ul>
                        <li class="newApp" onclick="window.location='@routes.Application.forceHome'" style="cursor: hand; cursor: pointer;">
                            <a href="@routes.Application.forceHome">New Application</a>
                        </li>
                        @model.recentApps.zipWithIndex.map { case (app, idx) =>
                        <li onclick="window.location='@routes.Application.app(app.id)'" style="cursor: hand; cursor: pointer;">
                            <span style="font-weight: bold;">@name(app)</span> (@app.location)
                        </li>
                        }
					</ul>
				</div>
			</div>
            <div id="user">
                <button></button>
                <iframe id="loginIFrame" src="http://localhost:9000/account/activator/frame"></iframe>
            </div>
			<a href="@routes.Application.forceHome()" id="typesafe">Typesafe</a>
		</header>
		<aside class="tutorial" data-bind="snapView: tutorial">
		</aside>
        <div id="wrapper" data-bind="foreach: { data: widgets }, visible: snap.activeWidget() != undefined">
          <div class="widget" data-bind="snapView: $data, visible: id == $parent.snap.activeWidget()"></div>
        </div>
	</body>
</html>
