@(model: controllers.ApplicationModel)(implicit request: RequestHeader)


<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Typesafe Builder</title>
		<script type="text/javascript">
		window.serverAppModel = {
      name: '@model.name',
      id: '@model.id',
      pluginIds:  [ @Html(model.plugins.mkString("\'", "\','","\'")) ],
      location: '@model.jsLocation',
      wsUrl: '@routes.Application.connectApp(model.id).webSocketURL()'
      @for(id <- model.blueprint) {
        ,blueprint: {
      	  id: '@model.blueprint'
        }
      }
    };
		</script>
		<script data-main="/public/javascripts/main.js" type="text/javascript" src="/public/javascripts/vendors/require.min.js"></script>
		<link rel="stylesheet" media="screen" href="/public/stylesheets/main.css">
		<link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
	</head>
	<body class="noAnim left-open right-open">
		<nav>
			<div id="switch">
				<span class="label" data-bind="text: snap.appName"></span>
				<div>
					<ul>
						<li>
							<a class="current" href="#">Sample app</a>
							<span class="counter">4</span>
						</li>
						<li>
							<a class="current" href="#">Awesome app</a>
							<span class="counter">5</span>
						</li>
					</ul>
				</div>
			</div>
			<ul class="rockets">
				<li class="general">
					<a data-icon="&#128230;" href="#projects">Projects</a>
					<a data-icon="&#128640;" href="#extensions">Blueprints</a>
				</li>
				<li class="app" data-bind="foreach: plugins.list">
					<a data-bind="text: name, attr: { 'data-icon': icon, href: url }"></a>
				</li>
			</ul>
		</nav>
		<header>
			<nav id="breadcrumb">
		        <div data-bind="foreach: router.breadcrumbs()">
					<a href="#d" data-bind="text: module.title, attr: { href: '#' + url }"></a>
        		</div>
			</nav>
			<a href="http://www.typesafe.com">Typesafe</a>
			<dl id="user">
				<dt>
					<img src="/public/images/avatar.png">
					<a href="#user">User Name</a>
					<small>Position</small>
				</dt>
				<dd>
					<a href="#userPreferences">Preferences</a>
					<a href="#userAccount">Account</a>
					<a href="#userLogout">Logout</a>
				</dd>
			</dl>
		</header>
		<aside></aside>
		<div id="wrapper" data-bind="foreach: { data: router.breadcrumbs(), afterRender: grid.afterRender,  afterAdd: grid.afterAdd, beforeRemove: grid.beforeRemove }"><div data-bind="template: { name: module.view, data: module, afterRender: module.onRender }"></div></div>
  </body>
</html>
