@(model: HomeModel, newApp: Form[NewAppForm])
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Typesafe Builder</title>
		<script data-main="/public/javascripts/home.js" type="text/javascript" src="/public/javascripts/vendors/require.min.js"></script>
		<link rel="stylesheet" media="screen" href="/public/stylesheets/home.css">
		<link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
	</head>
	<body class="">

		<article>
			<h1>Build Amazing Apps!</h1>
			<p>Create rich, high volume, and interactive applications in a snap.  Start with a new application Blueprint.  Then browse the code and run &amp; test the app from your browser.</p>
		</article>

		<section id="new">
			<h2>New application</h2>
			@helper.form(action = routes.Application.newApplication, 'id -> "newApp") {
				<fieldset>
					<label for="newappName">Name</label>
					<input type="text" id="newappName" name="name" required>
				</fieldset>
				<fieldset>
					<label for="newappLocation">Location</label>
					<input type="text" id="newappLocation" name="location" placeholder="@model.userHome" required>
				</fieldset>
				<fieldset>
					<label for="newappBlueprint">Blueprint</label>
					<input type="text" id="newAppBlueprintName" name="blueprint-name" placeholder="Choose a blueprint in the list below" disabled required>
				</fieldset>
				<ul> 
				@model.templates.map { template =>
					<li>
						<input type="radio" name="blueprint" value="@template.id">
						<h3>@template.name</h3>
						<p>@template.description</p>
					</li>	  
				}
				</ul>
				<input type="submit" class="button" value="Create" id="newButton">
			}
		</section>

		<section id="open">
			<h2>Open existing app...</h2>
			<ul>
				@model.recentApps.map { app =>
					<li>
						<h3><a href="@routes.Application.app(app.id)">@app.cachedName.getOrElse(app.id)</a></h3>
						<p class="path"><span>@app.location</span></p>
					</li>
				}
			</ul>
		</section>
	</body>
</html>
