@()(implicit request: RequestHeader)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Typesafe Builder Test Suite</title>
        <script data-main="/public/javascripts/bootstrap.js" type="text/javascript" src="/public/javascripts/vendors/require.min.js"></script>
        <script type="text/javascript" src="/public/javascripts/test.js"></script>
        <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
        <link rel="stylesheet" href="/public/stylesheets/test.css">
    </head>
    <body class="">
        <div class="summary">Running unit tests...</div>
        <div class="results"></div>
    </body>
</html>
