<script type="text/html" id="todo_tpl">
<article>

	<header>
		<h1>Todo</h1>
	</header>

	<footer>
		<p></p>
	</footer>

	<section class="wrapper">
	</section>

</article>
</script>


<script type="text/html" id="dashboard_tpl">
<article class="dashboard" data-width="0">

	<section class="column">

		<div class="widget">
			<div class="stats" style="height:120px; background: #4b575e url(/public/images/stats.png) center center no-repeat;background-size:contain;">
			</div>
			<div class="commands">
				<a class="port" href="http://localhost:9000" target="_blank">
					port <strong>9000</strong>
				</a>
				<button class="stop">Stop</button>
			</div>
			<dl class="list">
				<dt data-icon="&#9991;" class="open">
					<h2>Logs</h2>
					<a href="#monitor/logs">View all</a>
					<span class="error-counter">12</span>
				</dt>
				<dd>
					<ul class="logs">
						<li>Running the application from SBT, auto-reloading is enabled</li>
						<li>[info] play - Listening for HTTP on /0:0:0:0:0:0:0:0%0:9000</li>
						<li>(Server started, use Ctrl+D to stop and go back to the console...)</li>
						<li>[info] play - database [default] connected at jdbc:h2:mem:play</li>
						<li>[info] play - Application started (Dev)</li>
					</ul>
				</dd>
				<dt data-icon="&#9881;">
					<h2>Runtime</h2>
					<span class="info">pid <strong>1234</strong></span>
				</dt>
				<dd>
					<dl>
						<dt>Uptime</dt>
						<dd>1:03:47</dd>
						<dt>Play version</dt>
						<dd>Play 2.1-RC1</dd>
						<dt>Scala version</dt>
						<dd>Scala 2.10.0-RC1</dd>
						<dt>Sbt Version</dt>
						<dd>Sbt 0.13</dd>
						<dt>Java version</dt>
						<dd>Java 1.6.0_37</dd>
					</dl>
				</dd>
			</dl>
		</div>


	</section>

	<section class="column">


	</section>

	<section class="column">



	</section>

	<section class="column">



	</section>

</article>
</script>


<script type="text/html" id="play_monitor_tpl">
<article class="list">

	<header>
		<h1>Play monitor</h1>
		<nav>
		</nav>
	</header>

	<footer>
		<dl>
			<dt>by date</dt>
		</dl>
	</footer>

	<section class="wrapper">
		<div class="stats" style="height:120px; background: #4b575e url(/public/images/stats.png) center center no-repeat;background-size:contain;">
		</div>
		<div class="commands">
			<a class="port" href="http://localhost:9000" target="_blank">
				port <strong>9000</strong>
			</a>
			<button class="stop">Stop</button>
		</div>
		<ul class="list">
			<li data-icon="&#9991;">
				<h2><a href="#monitor/logs">Logs</a></h2>
				<span class="error-counter">12</span>
			</li>
			<li data-icon="&#128255;">
				<h2><a href="#monitor/tests">Tests</a></h2>
				<span class="error-counter">2</span>
			</li>
			<li data-icon="&#128318;">
				<h2><a href="#monitor/application">Application monitor</a></h2>
			</li>
			<li data-icon="&#128202;">
				<h2><a href="#monitor/system">System monitor</a></h2>
			</li>
			<li data-icon="&#59272;">
				<h2><a href="#monitor/rest-console">Rest &amp; Json console</a></h2>
			</li>
		</ul>
		<h2>Runtime</h2>
	</section>

</article>
</script>


<script type="text/html" id="play_logs_tpl">
<article class="logs" data-width="-1">

	<header>
		<h1>Logs &amp; errors</h1>
		<nav>
		</nav>
	</header>

	<footer>
		<dl>
			<dt>by date</dt>
		</dl>
	</footer>

	<section class="wrapper">
		<ul>
			<li class="compilation">
				<h2>not found: value User</h2>
				<p>In app/controllers/Application.scala at line 13. <a href="#">View file</a></p>
			</li>
			<li class="runtime">
				<h2>Wrong type: [String] found, [Int] expected</h2>
				<p>In app/controllers/Application.scala at line 13. <a href="#">View file</a></p>
			</li>
			<li class="route">
				<h2>GET /public/favicon.gif</h2>
				<p>Check the URL, or <a href="#">View route file</a></p>
			</li>
			<li class="info">
				<h2>Play started</h2>
				<p>Listening for HTTP on /0:0:0:0:0:0:0:0%0:9000</p>
			</li>
		</ul>
	</section>

</article>
</script>


<script type="text/html" id="play_app_monitor_tpl">
<article class="list">

	<header>
		<h1>Application monitor</h1>
		<nav>
		</nav>
	</header>

	<footer>
		<dl>
			<dt>by date</dt>
		</dl>
	</footer>

	<section class="wrapper">
		<dl>
		</dl>
	</section>

</article>
</script>


<script type="text/html" id="play_tests_tpl">
<article class="list">

	<header>
		<h1>Tests</h1>
		<nav>
		</nav>
	</header>

	<footer>
		<dl>
			<dt>by date</dt>
		</dl>
	</footer>

	<section class="wrapper">
		<dl>
		</dl>
	</section>

</article>
</script>


<script type="text/html" id="play_sys_monitor_tpl">
<article class="list">

	<header>
		<h1>System monitor</h1>
		<nav>
		</nav>
	</header>

	<footer>
		<dl>
			<dt>by date</dt>
		</dl>
	</footer>

	<section class="wrapper">
		<dl>
		</dl>
	</section>

</article>
</script>


<script type="text/html" id="play_rest_console_tpl">
<article class="list">

	<header>
		<h1>Rest &amp; Json console</h1>
		<nav>
		</nav>
	</header>

	<footer>
		<dl>
			<dt>by date</dt>
		</dl>
	</footer>

	<section class="wrapper">
		<dl>
		</dl>
	</section>

</article>
</script>


<script type="text/html" id="code_tpl">
<article class="list">

	<header>
		<h1>Code</h1>
	</header>

	<footer>
		<dl>
		</dl>
	</footer>

	<section class="wrapper">
		<ul class="list">
			<li data-icon="&#59156;">
				<h2><a href="#code/browse">Browse code</a></h2>
				<span class="error-counter">12</span>
			</li>
			<li data-icon="&#128363;">
				<h2><a href="#code/commits">Commits</a></h2>
				<span class="error-counter">2</span>
			</li>
			<li data-icon="&#128361;">
				<h2><a href="#code/branches">Branches &amp; tags</a></h2>
			</li>
			<li data-icon="&#59160;">
				<h2><a href="#code/comments">Comments</a></h2>
			</li>
			<li data-icon="&#128213;">
				<h2><a href="#code/wiki">Wiki</a></h2>
			</li>
		</ul>
	</section>
</article>
</script>


<script type="text/html" id="projects_tpl">
<article class="list active">

	<header>
		<h1>Projects</h1>
	</header>

	<footer>
		<p></p>
		<dl>
			<dt>by date</dt>
		</dl>
	</footer>

	<section class="wrapper">
		<dl>
		<% _.each( _.groupBy(data, function(p){ console.log("Template projects_tpl",p); return p.date }) , function(p,g){ %>
			<dt><%= g %></dt>
			<% _.each(p, function(i){ %>
			<dd data-icon="&#128230;" class="<%= inUrl('#projects/'+ i.id) ? 'active' : '' %>">
				<h2><a href="#projects/<%= i.id %>"><%= i.name %></a></h2>
				<p class="event"><a href="#users/<%= i.updated.user %>">@<%= i.updated.user %></a> uploaded <a href="#">guidelines.pdf</a> 12 minutes ago.</p>
			</dd>
			<% }); %>
		<% }); %>
		</dl>
	</section>

</article>
</script>


<script type="text/html" id="project_tpl">
<article class="list">
	<% console.log("Template project_tpl",data) %>
	<header>
		<h1><%= data.name %></h1>
	</header>

	<footer>
		<p></p>
	</footer>

	<section class="wrapper">
	</section>

</article>
</script>


<script type="text/html" id="tasks_tpl">
<article class="list">

	<header>
		<h1>Tasks</h1>
		<nav>
			<a href="#">New task</a>
			<a href="#">Search</a>
			<a href="#">Help</a>
		</nav>
	</header>

	<footer>
		<p><%= data.length %></p>
		<dl>
			<dt>by date</dt>
		</dl>
	</footer>

	<section class="wrapper">
		<dl>

		</dl>
	</section>

</article>
</script>